#matrix{background: #000;}

#letter {
    font-size: 120px;
    font-family: Helvetica;
    font-weight: Bold;
    color: rgba(18,22,26,0.7);
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    opacity: 1;
    z-index: 3;
}

#description {
    position: fixed;
    bottom: 10px;
    width: 100%;
    z-index: 100;
    font-family: Helvetica;
    font-weight: 200;
    color: rgba(18,22,26,0.7);
    text-align: center;
    font-size: 11px;
    letter-spacing: 1px;
}

#animation {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.toaster {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -80px;
    width: 160px;
    height: 90px;
    border-radius: 5px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: rgba(235,238,242,1);
    border-bottom: 8px solid rgba(38,42,46,1);
    animation: pop 4s ease-in-out 0s infinite normal none;
	-webkit-animation: pop 4s ease-in-out 0s infinite normal none;
    z-index: 5;
}

.toaster:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-top-left-radius: 30px;
    box-shadow: 4px 4px 0 0 #fff inset;
    margin-top: 10px;
    margin-left: 10px;
}

.toaster:after {
    content: "";
    position: absolute;
    animation: lever 4s ease-in-out 0s infinite normal none;
	-webkit-animation: lever 4s ease-in-out 0s infinite normal none;
    background-color: rgba(38,42,46,1);
    border-bottom-right-radius: 5px;
    margin-left: 160px;
    margin-top: 40px;
    width: 10px;
    height: 8px;
}

.toast {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 30px;
    margin-top: -35px;
    margin-left: -40px;
    box-sizing: border-box;
    border: 2px solid rgba(178,140,115,1);
    border-top: none;
    /*background-color: rgba(234,231,210,1);*/
    background-color: rgba(204,181,140,1);
}

.toast.one {
    animation: toastOne 4s ease-in-out 0s infinite normal none;
	-webkit-animation: toastOne 4s ease-in-out 0s infinite normal none;
}

.toast.two {
    margin-left: -5px;
    animation: toastTwo 4s ease-in-out -0.1s infinite normal none;
	-webkit-animation: toastTwo 4s ease-in-out -0.1s infinite normal none;    
}

.toast:before , .toast:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: -23px;
    border: 2px solid rgba(178,140,115,1);
    background-color: inherit;
    border-bottom: 2px solid transparent;
}

.toast:before {
    margin-left: -4px;
    border-right: 2px solid transparent;
    -webkit-transform: rotate(10deg) scale(1.1);
    z-index: -1;
}

.toast:after {
    margin-left: 20px;
    border-left: 2px solid transparent;
    -webkit-transform: rotate(-10deg) scale(1.1);
    z-index: -1;
}

@keyframes toastOne {
	87% { -webkit-transform: translate(0px , 0px) rotate( 0deg); -moz-transform: translate(0px , 0px) rotate( 0deg); -ms-transform: translate(0px , 0px) rotate( 0deg); -o-transform: translate(0px , 0px) rotate( 0deg); transform: translate(0px , 0px) rotate( 0deg);} 
	100% { -webkit-transform: translate(0px , 0px) rotate( 0deg); -moz-transform: translate(0px , 0px) rotate( 0deg); -ms-transform: translate(0px , 0px) rotate( 0deg); -o-transform: translate(0px , 0px) rotate( 0deg); transform: translate(0px , 0px) rotate( 0deg);} 
	82% { -webkit-transform: translate(0px , 20px) rotate(-60deg); -moz-transform: translate(0px , 20px) rotate(-60deg); -ms-transform: translate(0px , 20px) rotate(-60deg); -o-transform: translate(0px , 20px) rotate(-60deg); transform: translate(0px , 20px) rotate(-60deg);} 
	76% { -webkit-transform: translate(0px , -150px) rotate(-35deg); -moz-transform: translate(0px , -150px) rotate(-35deg); -ms-transform: translate(0px , -150px) rotate(-35deg); -o-transform: translate(0px , -150px) rotate(-35deg); transform: translate(0px , -150px) rotate(-35deg);} 
	70% { -webkit-transform: translate(0px , 50px) rotate( 0deg ); -moz-transform: translate(0px , 50px) rotate( 0deg ); -ms-transform: translate(0px , 50px) rotate( 0deg ); -o-transform: translate(0px , 50px) rotate( 0deg ); transform: translate(0px , 50px) rotate( 0deg );} 
	3% { -webkit-transform: translate(0px , 50px) rotate( 0deg ); -moz-transform: translate(0px , 50px) rotate( 0deg ); -ms-transform: translate(0px , 50px) rotate( 0deg ); -o-transform: translate(0px , 50px) rotate( 0deg ); transform: translate(0px , 50px) rotate( 0deg );} 
	0% { -webkit-transform: translate(0px , 0px) rotate( 0deg ); -moz-transform: translate(0px , 0px) rotate( 0deg ); -ms-transform: translate(0px , 0px) rotate( 0deg ); -o-transform: translate(0px , 0px) rotate( 0deg ); transform: translate(0px , 0px) rotate( 0deg );} 
}

@-webkit-keyframes toastOne {
	87% { -webkit-transform: translate(0px , 0px) rotate( 0deg); -moz-transform: translate(0px , 0px) rotate( 0deg); -ms-transform: translate(0px , 0px) rotate( 0deg); -o-transform: translate(0px , 0px) rotate( 0deg); transform: translate(0px , 0px) rotate( 0deg);} 
	100% { -webkit-transform: translate(0px , 0px) rotate( 0deg); -moz-transform: translate(0px , 0px) rotate( 0deg); -ms-transform: translate(0px , 0px) rotate( 0deg); -o-transform: translate(0px , 0px) rotate( 0deg); transform: translate(0px , 0px) rotate( 0deg);} 
	82% { -webkit-transform: translate(0px , 20px) rotate(-60deg); -moz-transform: translate(0px , 20px) rotate(-60deg); -ms-transform: translate(0px , 20px) rotate(-60deg); -o-transform: translate(0px , 20px) rotate(-60deg); transform: translate(0px , 20px) rotate(-60deg);} 
	76% { -webkit-transform: translate(0px , -150px) rotate(-35deg); -moz-transform: translate(0px , -150px) rotate(-35deg); -ms-transform: translate(0px , -150px) rotate(-35deg); -o-transform: translate(0px , -150px) rotate(-35deg); transform: translate(0px , -150px) rotate(-35deg);} 
	70% { -webkit-transform: translate(0px , 50px) rotate( 0deg ); -moz-transform: translate(0px , 50px) rotate( 0deg ); -ms-transform: translate(0px , 50px) rotate( 0deg ); -o-transform: translate(0px , 50px) rotate( 0deg ); transform: translate(0px , 50px) rotate( 0deg );} 
	3% { -webkit-transform: translate(0px , 50px) rotate( 0deg ); -moz-transform: translate(0px , 50px) rotate( 0deg ); -ms-transform: translate(0px , 50px) rotate( 0deg ); -o-transform: translate(0px , 50px) rotate( 0deg ); transform: translate(0px , 50px) rotate( 0deg );} 
	0% { -webkit-transform: translate(0px , 0px) rotate( 0deg ); -moz-transform: translate(0px , 0px) rotate( 0deg ); -ms-transform: translate(0px , 0px) rotate( 0deg ); -o-transform: translate(0px , 0px) rotate( 0deg ); transform: translate(0px , 0px) rotate( 0deg );} 
}

@keyframes toastTwo {
	87% { -webkit-transform: translate(0px , 0px) rotate( 0deg); -moz-transform: translate(0px , 0px) rotate( 0deg); -ms-transform: translate(0px , 0px) rotate( 0deg); -o-transform: translate(0px , 0px) rotate( 0deg); transform: translate(0px , 0px) rotate( 0deg);} 
	100% { -webkit-transform: translate(0px , 0px) rotate( 0deg); -moz-transform: translate(0px , 0px) rotate( 0deg); -ms-transform: translate(0px , 0px) rotate( 0deg); -o-transform: translate(0px , 0px) rotate( 0deg); transform: translate(0px , 0px) rotate( 0deg);} 
	82% { -webkit-transform: translate(0px , 20px) rotate(60deg); -moz-transform: translate(0px , 20px) rotate(60deg); -ms-transform: translate(0px , 20px) rotate(60deg); -o-transform: translate(0px , 20px) rotate(60deg); transform: translate(0px , 20px) rotate(60deg);} 
	76% { -webkit-transform: translate(0px , -130px) rotate(35deg); -moz-transform: translate(0px , -130px) rotate(35deg); -ms-transform: translate(0px , -130px) rotate(35deg); -o-transform: translate(0px , -130px) rotate(35deg); transform: translate(0px , -130px) rotate(35deg);} 
	70% { -webkit-transform: translate(0px , 50px) rotate( 0deg ); -moz-transform: translate(0px , 50px) rotate( 0deg ); -ms-transform: translate(0px , 50px) rotate( 0deg ); -o-transform: translate(0px , 50px) rotate( 0deg ); transform: translate(0px , 50px) rotate( 0deg );} 
	3% { -webkit-transform: translate(0px , 50px) rotate( 0deg ); -moz-transform: translate(0px , 50px) rotate( 0deg ); -ms-transform: translate(0px , 50px) rotate( 0deg ); -o-transform: translate(0px , 50px) rotate( 0deg ); transform: translate(0px , 50px) rotate( 0deg );} 
	0% { -webkit-transform: translate(0px , 0px) rotate( 0deg ); -moz-transform: translate(0px , 0px) rotate( 0deg ); -ms-transform: translate(0px , 0px) rotate( 0deg ); -o-transform: translate(0px , 0px) rotate( 0deg ); transform: translate(0px , 0px) rotate( 0deg );} 
}

@-webkit-keyframes toastTwo {
	87% { -webkit-transform: translate(0px , 0px) rotate( 0deg); -moz-transform: translate(0px , 0px) rotate( 0deg); -ms-transform: translate(0px , 0px) rotate( 0deg); -o-transform: translate(0px , 0px) rotate( 0deg); transform: translate(0px , 0px) rotate( 0deg);} 
	100% { -webkit-transform: translate(0px , 0px) rotate( 0deg); -moz-transform: translate(0px , 0px) rotate( 0deg); -ms-transform: translate(0px , 0px) rotate( 0deg); -o-transform: translate(0px , 0px) rotate( 0deg); transform: translate(0px , 0px) rotate( 0deg);} 
	82% { -webkit-transform: translate(0px , 20px) rotate(60deg); -moz-transform: translate(0px , 20px) rotate(60deg); -ms-transform: translate(0px , 20px) rotate(60deg); -o-transform: translate(0px , 20px) rotate(60deg); transform: translate(0px , 20px) rotate(60deg);} 
	76% { -webkit-transform: translate(0px , -130px) rotate(35deg); -moz-transform: translate(0px , -130px) rotate(35deg); -ms-transform: translate(0px , -130px) rotate(35deg); -o-transform: translate(0px , -130px) rotate(35deg); transform: translate(0px , -130px) rotate(35deg);} 
	70% { -webkit-transform: translate(0px , 50px) rotate( 0deg ); -moz-transform: translate(0px , 50px) rotate( 0deg ); -ms-transform: translate(0px , 50px) rotate( 0deg ); -o-transform: translate(0px , 50px) rotate( 0deg ); transform: translate(0px , 50px) rotate( 0deg );} 
	3% { -webkit-transform: translate(0px , 50px) rotate( 0deg ); -moz-transform: translate(0px , 50px) rotate( 0deg ); -ms-transform: translate(0px , 50px) rotate( 0deg ); -o-transform: translate(0px , 50px) rotate( 0deg ); transform: translate(0px , 50px) rotate( 0deg );} 
	0% { -webkit-transform: translate(0px , 0px) rotate( 0deg ); -moz-transform: translate(0px , 0px) rotate( 0deg ); -ms-transform: translate(0px , 0px) rotate( 0deg ); -o-transform: translate(0px , 0px) rotate( 0deg ); transform: translate(0px , 0px) rotate( 0deg );} 
}

@keyframes lever {
	6% { -webkit-transform: translate(0px , 20px); -moz-transform: translate(0px , 20px); -ms-transform: translate(0px , 20px); -o-transform: translate(0px , 20px); transform: translate(0px , 20px);} 
	76% { -webkit-transform: translate(0px , 0px); -moz-transform: translate(0px , 0px); -ms-transform: translate(0px , 0px); -o-transform: translate(0px , 0px); transform: translate(0px , 0px);} 
	100% { -webkit-transform: translate(0px , 0px); -moz-transform: translate(0px , 0px); -ms-transform: translate(0px , 0px); -o-transform: translate(0px , 0px); transform: translate(0px , 0px);} 
	73% { -webkit-transform: translate(0px , -8px); -moz-transform: translate(0px , -8px); -ms-transform: translate(0px , -8px); -o-transform: translate(0px , -8px); transform: translate(0px , -8px);} 
	70% { -webkit-transform: translate(0px , 20px); -moz-transform: translate(0px , 20px); -ms-transform: translate(0px , 20px); -o-transform: translate(0px , 20px); transform: translate(0px , 20px);} 
	3% { -webkit-transform: translate(0px , 28px); -moz-transform: translate(0px , 28px); -ms-transform: translate(0px , 28px); -o-transform: translate(0px , 28px); transform: translate(0px , 28px);} 
	0% { -webkit-transform: translate(0px , 0px); -moz-transform: translate(0px , 0px); -ms-transform: translate(0px , 0px); -o-transform: translate(0px , 0px); transform: translate(0px , 0px);} 
}

@-webkit-keyframes lever {
	6% { -webkit-transform: translate(0px , 20px); -moz-transform: translate(0px , 20px); -ms-transform: translate(0px , 20px); -o-transform: translate(0px , 20px); transform: translate(0px , 20px);} 
	76% { -webkit-transform: translate(0px , 0px); -moz-transform: translate(0px , 0px); -ms-transform: translate(0px , 0px); -o-transform: translate(0px , 0px); transform: translate(0px , 0px);} 
	100% { -webkit-transform: translate(0px , 0px); -moz-transform: translate(0px , 0px); -ms-transform: translate(0px , 0px); -o-transform: translate(0px , 0px); transform: translate(0px , 0px);} 
	73% { -webkit-transform: translate(0px , -8px); -moz-transform: translate(0px , -8px); -ms-transform: translate(0px , -8px); -o-transform: translate(0px , -8px); transform: translate(0px , -8px);} 
	70% { -webkit-transform: translate(0px , 20px); -moz-transform: translate(0px , 20px); -ms-transform: translate(0px , 20px); -o-transform: translate(0px , 20px); transform: translate(0px , 20px);} 
	3% { -webkit-transform: translate(0px , 28px); -moz-transform: translate(0px , 28px); -ms-transform: translate(0px , 28px); -o-transform: translate(0px , 28px); transform: translate(0px , 28px);} 
	0% { -webkit-transform: translate(0px , 0px); -moz-transform: translate(0px , 0px); -ms-transform: translate(0px , 0px); -o-transform: translate(0px , 0px); transform: translate(0px , 0px);} 
}

@keyframes pop {
	75% { -webkit-transform: translate(0px , -15px) rotate(-10deg); -moz-transform: translate(0px , -15px) rotate(-10deg); -ms-transform: translate(0px , -15px) rotate(-10deg); -o-transform: translate(0px , -15px) rotate(-10deg); transform: translate(0px , -15px) rotate(-15deg);} 
	78% { -webkit-transform: translate(0px , 0px) rotate(0deg); -moz-transform: translate(0px , 0px) rotate(0deg); -ms-transform: translate(0px , 0px) rotate(0deg); -o-transform: translate(0px , 0px) rotate(0deg); transform: translate(0px , 0px) rotate(0deg);} 
	100% { -webkit-transform: translate(0px , 0px) rotate(0deg); -moz-transform: translate(0px , 0px) rotate(0deg); -ms-transform: translate(0px , 0px) rotate(0deg); -o-transform: translate(0px , 0px) rotate(0deg); transform: translate(0px , 0px) rotate(0deg);} 
	73% { -webkit-transform: translate(0px , -35px) rotate(5deg); -moz-transform: translate(0px , -35px) rotate(5deg); -ms-transform: translate(0px , -35px) rotate(5deg); -o-transform: translate(0px , -35px) rotate(5deg); transform: translate(0px , -35px) rotate(5deg);} 
	70% { -webkit-transform: translate(0px , 0px) rotate(0deg); -moz-transform: translate(0px , 0px) rotate(0deg); -ms-transform: translate(0px , 0px) rotate(0deg); -o-transform: translate(0px , 0px) rotate(0deg); transform: translate(0px , 0px) rotate(0deg);} 
	0% { -webkit-transform: translate(0px , 0px) rotate(0deg); -moz-transform: translate(0px , 0px) rotate(0deg); -ms-transform: translate(0px , 0px) rotate(0deg); -o-transform: translate(0px , 0px) rotate(0deg); transform: translate(0px , 0px) rotate(0deg);} 
}

@-webkit-keyframes pop {
	75% { -webkit-transform: translate(0px , -15px) rotate(-10deg); -moz-transform: translate(0px , -15px) rotate(-10deg); -ms-transform: translate(0px , -15px) rotate(-10deg); -o-transform: translate(0px , -15px) rotate(-10deg); transform: translate(0px , -15px) rotate(-15deg);} 
	78% { -webkit-transform: translate(0px , 0px) rotate(0deg); -moz-transform: translate(0px , 0px) rotate(0deg); -ms-transform: translate(0px , 0px) rotate(0deg); -o-transform: translate(0px , 0px) rotate(0deg); transform: translate(0px , 0px) rotate(0deg);} 
	100% { -webkit-transform: translate(0px , 0px) rotate(0deg); -moz-transform: translate(0px , 0px) rotate(0deg); -ms-transform: translate(0px , 0px) rotate(0deg); -o-transform: translate(0px , 0px) rotate(0deg); transform: translate(0px , 0px) rotate(0deg);} 
	73% { -webkit-transform: translate(0px , -35px) rotate(5deg); -moz-transform: translate(0px , -35px) rotate(5deg); -ms-transform: translate(0px , -35px) rotate(5deg); -o-transform: translate(0px , -35px) rotate(5deg); transform: translate(0px , -35px) rotate(5deg);} 
	70% { -webkit-transform: translate(0px , 0px) rotate(0deg); -moz-transform: translate(0px , 0px) rotate(0deg); -ms-transform: translate(0px , 0px) rotate(0deg); -o-transform: translate(0px , 0px) rotate(0deg); transform: translate(0px , 0px) rotate(0deg);} 
	0% { -webkit-transform: translate(0px , 0px) rotate(0deg); -moz-transform: translate(0px , 0px) rotate(0deg); -ms-transform: translate(0px , 0px) rotate(0deg); -o-transform: translate(0px , 0px) rotate(0deg); transform: translate(0px , 0px) rotate(0deg);} 
}